*{
  box-sizing: border-box;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none;
}
.admin-bar .header{
  top: 32px;
}
.displayFlex {
  display: flex;
  justify-content: space-between;
}

.alignCenter{
  display: flex;
  align-items: center;
}

.positionR {
  position: relative;
  z-index: 1;
  transition: 0.3s all;
}

.positionA {
  position: absolute;
  z-index: 1;
  transition: 0.3s all;
}
#page{overflow: hidden;}
html {
  h1,h2,h3,h4{
    font-weight: bold;
  }
  h1{
    font-size: 25px;
  }
  h5,h6,select,p{
    font-size: 16px;
  }
  ul {
    margin: 0;
    li {
      list-style: none;
    }
  }
  .hideContent {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;

  }
  .hoverContent:hover{
    color: #d0d0d0;
    .hideContent{
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
  }
  figure,
  img{
    transition: 0.3s all;
    height:auto;
    max-width: 100%;
  }
  button,
  a,a:visited{
    cursor: pointer;
    color: #333;
    text-decoration: none;
    transition: 0.3s all;
    outline: none;
    &:hover{
      color: #bb9d55;
      img{
        opacity: 0.6;
      }
    }
  }
  body{
    font-size: 16px;
    background: #fff;
    font-family: Lato, sans-serif;
    .form,
    .footerForm.form{
      p span.wpcf7-not-valid-tip{
        width: 100%;
        margin: 0;
        font-size: 13px;
        color: #e41e1e;
      }
    }
    .wpcf7-validation-errors{
      border: none;
      margin: 0;
      color: #e41e1e;

    }
  }
  p{
    color: #3b3b3b;
    margin: .85em 0;
  }
  input[type='button'],input[type='submit'],button{
    border: none;
    box-shadow: none;
    transition: 0.3s all;
  }
  .grid-container{
    max-width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.single .contentHeader{
  overflow: hidden;
}
.tax-category_hotel,
.category,
.home{
  .grid-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.form{
  input[type="date"],
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  select{
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-radius: 3px;
    background: #fff;
    width: 100%;
    border: 1px solid #cecece;
  }
  textarea{
    width: 100%;
    height: 100px;
    resize: none;
  }
}

// Header site
.header{
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(82, 129, 89, .8);
  font-size: 16px;
  color: #fff;
  z-index: 9999;
  button {
    height: 50px;
    background: transparent;
    padding: 0;
    &:hover{
      color: #d0d0d0;
      background-color: transparent;
    }
    &:active{
      background-color: transparent;
    }
  }
  a:visited,
  a {
    color: #fff;
    width: 100%;
    &:hover{
      color: #d0d0d0;
    }
  }
  .container.grid-container {
    background: transparent;
  }
  .logo{
    max-width: 100px;
    top: 1px;
    left: 0;
    z-index: 99999;
  }
  .topUL{
    top:100px;
    background: rgba(82, 129, 89, 0.8);
    width: 200px;
    li {
      border-bottom: 1px solid #fff;
      padding-left: 10px;
      a{
        display: block;
        line-height: 35px;
      }
    }
    .current-menu-item{
      a{
        color: #d0d0d0;
      }
    }
  }
}
.contentMenu{
  z-index: 999;
}

.listFavourite{
  top: 5px;
  right: 0;
  max-width: 100px;
  background: url(../images/icon_3.png) no-repeat top center;
  padding-top: 45px;
  text-align: center;
  a{
    color: #bb9d55;
    font-weight: bold;
    .number_tour{
      top: 0;
      right: 0;
      display: inline-block;
      background: #bb9d55;
      color: #fff;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      font-size: 12px;
      padding-top: 1px;
    }
  }
}
.text-right{
  text-align: right;
  justify-content: flex-end;
}
//Header home page
.headerHome {
  .leftHeader {
    align-items: center;
    display: flex;
    span:nth-child(2){
      padding-left: 15px;
      margin: 0 15px;
      border-left: 1px solid #acacac;
    }
    .paysOther {
      cursor: pointer;
      height: 50px;
      display: flex;
      align-items: center;
    }
    .country_flats {
      display: flex;
      li {
        margin-right: 10px;
        img{
          max-height: 30px;
          max-width: 26px;
          position: relative;
          top: 3px;
        }
      }
    }
  }
  .rightHeader{
    display: flex;
    align-items: center;
    span{
      margin-left: 15px;
      &:hover{
        color: #d0d0d0;
      }
    }
    .fa{
      border: 2px solid #fff;
      color: #fff;
      display: inline-block;
      border-radius: 100%;
      margin-right: 10px;
      font-size: 22px;
      width: 36px;
      height: 36px;
      position: relative;
      &:before{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .topUL{
      right: 0;
      a{
        display: inline-block;
      }
    }
    .btnShowMenu{
      .fa{
        margin: 0;
      }
    }
  }
}
.menuMobile{
  display: none;
}
//Main menu
.mainMenu{
  width: 100%;
  padding: 0 140px;
  z-index: 9999;
  ul{
    width: 100%;
    display: table;
    max-width: 600px;
    margin: 0 auto;
    li{
      display: table-cell;
      font-size: 14px;
      float: none;
      text-align: center;
      > a{
        line-height: 100px;
        padding: 0;
        color: #fff;
        display: inline-block;
        font-weight: bold;
        &:hover{
          box-shadow: inset 0 -4px 0 0 #bb9d55;
        }
      }
      .sub_menu{
        width: 100%;
        top:150%;
        left: 0;
        background: url(../images/menu-hover-vietnam_03.jpg) no-repeat bottom center;
        background-size: 100% 100%;
        z-index: 9999;
        .see_more{
          padding: 10px 20px;
          background: #bb9d55;
          margin-top: 20px;
          font-weight: bold;
          border-radius: 2px;
        }
        .alignright{
          padding-right: 60px;
          text-align: right;
        }
      }
      &:hover{
        .sub_menu{
          top:100%;
        }
      }
      .content_sub{
        display: table;
        vertical-align: middle;
        padding: 15px 0 30px;
      }
      .text_sub_menu{
        padding: 0 40px;
        width: 30%;
        display: table-cell;
        vertical-align: middle;
        font-size: 18px;
        color: #fff;
        border-right: 1px solid #518846;
        background: url(../images/bg_menu.png) no-repeat center center;
      }
      .item_sub-menu{
        border-left: 1px solid #fff;
        padding: 0 60px 0 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 30px;
      }
      .item{
        width: 33%;
        padding: 10px 0;
        img{
          border-radius: 100%;
          margin-bottom: 5px;
        }
        a{
          text-transform: uppercase;
          font-size: 13px;
          line-height: 1.2;
          font-weight: bold;
          &:hover{
            color: #bb9d55;
          }
        }
      }
    }
    .vietnam_secret{
      .item:first-child{
        border-top: none;
      }
      .item{
        width: 100%;
        text-align: left;
        border-top: 1px dashed #fff;
        padding: 20px;
        img{
          margin-right: 15px;
        }
      }
      .item:nth-child(2){
        justify-content: flex-end;
        .img_vietnam{
          order: 2;
        }
        img{
          margin-right: 0;
          margin-left: 15px;
        }
      }
    }
    .site_a_decouvrir{
      img{
        max-width: 80%;
      }
      .item_sub-menu .textwidget{
        margin-bottom: 40px;
        text-align: left;
        border-bottom: 1px dashed #fff;
        font-weight: bold;
        h3{
          font-size: 16px;
          font-weight: bold;
        }
        p{
          text-transform: uppercase;
          font-size: 13px;
          color: #fff;
        }
        a{
          color: #fff;
          &:hover{
            color: #bb9d55;
          }
        }
      }
    }
  }
}
.tax-category_hotel .mainMenu ul,
.single .mainMenu ul,
.category .mainMenu ul{
  max-width: 700px;
  float: right;
}
.containerMenuBlog.mainMenu{
  padding-right: 0;
}
#menu-menu-blog{
  li{
    display: table-cell;
    font-size: 14px;
    float: none;
    text-align: center;
    a{
      line-height: 100px;
      padding: 0;
      color: #fff;
      display: inline-block;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}