.bannerPage {
  max-height: 500px;
  overflow: hidden;
  font-size: 0;

  img {
    width: 100%;
  }
}

.titlePage {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  padding: 30px 0;
  bottom: 0;
  right: 0;
  left: 0;

  h1 {
    font-size: 30px;
    font-weight: bold;
    max-width: 700px;
    margin: 0 auto;
  }
}

.contentPage {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: justify;
}

.hotelForm {
  p {
    text-align: left;
    display: flex;

    > span:first-child {
      width: 35%;
    }

    > span.message {
      width: 100%;
      margin-left: 0;
    }

    .wpcf7-form-control-wrap {
      width: 75%;
      margin-left: 20px;
    }

    .wpcf7-list-item {
      display: block;
    }
  }

  div {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    p {
      display: block;
      width: 25%;
      padding: 0 15px;

      span:first-child {
        font-weight: bold;
      }

      img {
        width: 100%;
      }

      span {
        width: 100%;
      }

      .wpcf7-form-control-wrap {
        margin: 0;
      }
    }
  }
}

.list_category {
  margin: 0 -15px;
}

.list_category .item h3 a {
  color: #333;

  &:hover {
    color: #bb9d55;
  }
}

.list_category .item h3 {
  font-size: 16px;
  text-align: center;
}

.list_category .item {
  width: 33.33%;
}

.list_category .item img {
  width: 100%;
}

.list_category .item {
  padding: 15px;
}

.listPost {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#back {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;

  a {
    color: #7aa573;
    line-height: 20px;
    position: relative;
    font-size: 16px;
    font-weight: bold;

    i {
      font-size: 40px;
      position: relative;
      top: 7px;
      margin-right: 5px;
    }

    &:hover {
      color: #bb9d55;
    }
  }
}

#wz_pagination .content_pagination {
  text-align: right;
  max-width: 1010px;
  margin: 0 auto;

  .page-numbers {
    background: #fff;
    color: #689c72;
    padding: 4px 12px;
    border: 1px solid #ddd;
    display: inline-block;
    border-radius: 0;
    text-decoration: none;
    font-size: 14px;
    float: none;
    height: auto;
    width: auto;
    line-height: 23px;

    &.current, &:hover {
      background: #689c72;
      color: #fff;
      border: 1px solid #689c72;
    }
  }
}

.titlePageCategory2,
.titlePageCategory {
  text-align: center;
  background: url(../images/bg_h3.png) left center no-repeat;
  padding: 65px 70px;
  margin-top: -33px;
  font-weight: 700;
  h1 {
    margin-bottom: 0;
    span {
      color: #bb9d55;
    }
  }
}

.titlePageCategory2 {
  background: url(../images/banner_h3.png) left center no-repeat;
}

.listPost {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  .item {
    width: 33.33%;
    padding: 15px;

    img {
      width: 100%;
    }

    h3 {
      margin-bottom: 0;

      a {
        color: #333;
        font-size: 16px;
        font-weight: bold;

        &:hover {
          color: #bb9d55;
        }
      }
    }

    .except_content {
      text-align: justify;
    }

    .address_post_vnsecret {
      text-align: center;

      span {
        background: url(../images/location.png) no-repeat left;
        padding-left: 40px;
        line-height: 40px;
        display: inline-block;
        margin: 0;
        min-height: 40px;
      }
    }
  }
}

.addthis_inline_share_toolbox {
  text-align: center;
}

.content_contact {
  .title_contact {
    font-family: san-serif;
    font-size: 24px;
    color: #689c72;
    font-weight: bold;
  }

  .link_contact {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 28px 30px 28px 79px;
    border: 1px solid #689c72;
    background: url(../images/contact.png) no-repeat 20px center;
  }

  .wisth_list {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 28px 0 28px 50px;
    background: url(../images/icon_3.png) no-repeat left center;
  }

  a, a:visited {
    color: #689c72;
    font-weight: bold;

    &:hover {
      color: #bb9d55;
    }
  }
}

.content_tour {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 20px;

  h2 {
    font-size: 18px;
    text-align: center;
  }

  .listPost {
    a {
      display: block;
    }

    .excerpt_tour_pc {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      text-align: center;
      color: #fff;
      background: #689c72;
      padding: 10px;
      background: rgba(104, 156, 114, 0.6);
      opacity: 0;
      font-size: 16px;
    }

    a.positionR {
      font-size: 0;

      &:hover {
        .excerpt_tour_pc {
          opacity: 1;
        }
      }
    }

    h3 {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .excerpt_tour {
      display: none;
    }

    .infor_tour {
      margin-top: 20px;
      justify-content: center;

      .itemInfor {
        width: 50%;
        border-right: 1px solid #ddd;
        text-align: center;
        font-weight: bold;
      }

      span:last-child {
        border: none;
      }

      .map_tour {
        a {
          color: #333;

          &:hover {
            color: #bb9d55;
          }
        }
      }
    }
  }
}

.img_hiden {
  display: none;
}

.imgStyle1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-size: 0;

  .img_big {
    text-align: center;
    width: 100%;

    img {
      max-width: 600px;
      width: 100%;
    }
  }

  .img_small {
    width: 33.33%;
  }

  .img_item {
    padding: 15px;
  }
}

.seeMoreContentPage,
.see_more_img_colorbox {
  text-align: right;

  a {
    padding: 7px 20px;
    display: inline-block;
    background: #7aa573;
    color: #fff !important;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.hidePart {
  height: 115px;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.listTourStyle1 {
  padding: 0 10px;

  .listPost {
    margin: 0 -10px;

    .item_tour {
      padding: 10px;
    }
  }
}

.listOtherTour {
  padding-top: 10px;
  margin-top: 30px;
  border-top: 2px dashed #ddd;
}

.container_slider {
  padding-top: 30px;

  &:before {
    content: '';
    display: inline-block;
    width: 300px;
    border-top: 2px solid #ddd;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  h3 {
    font-weight: 700;
    font-size: 18px;
    color: #bb9d55;
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }
}

.slide_vnsceret {
  margin-top: 30px;

  .content_infor {
    width: 40%;
    padding-right: 30px;
    position: relative;

    p {
      text-align: justify;
    }

    a {
      font-weight: bold;
    }

    h3 {
      margin-bottom: 10px;
    }

    .see_more_img_colorbox {
      margin-top: 30px;
    }

    .see_more {
      text-align: right;
      margin-top: 30px;

      a {
        padding: 7px 20px;
        display: inline-block;
        background: #7aa573;
        border-radius: 3px;
        color: #fff;

        &:hover {
          background: #fff;
          box-shadow: inset 0 0 0 2px #7aa573;
          color: #7aa573;
        }
      }
    }
  }

  .img {
    width: 60%;
    font-size: 0;

    img {
      width: 100%;
    }

    a {
      display: block;
      overflow: hidden;
    }

    span {
      width: 200px;
      display: block;
      text-align: center;
      background: red;
      font-weight: 700;
      font-size: 17px;
      color: #fff;
      transform: rotate(-45deg);
      line-height: 30px;
      right: -40px;
      bottom: 44px;
    }
  }

  .slick-dots {
    position: relative;
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

.tabContent {
  display: none;
}

.tabContent.active {
  display: block;
}
.search.paged {
  margin: 0;
  .content_tour{
    border: none;
    margin-top: 0;
  }
}
.tabs_infor_tour {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;

  .tab_tour {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
    padding: 30px 0;
    display: inline-block;
    width: 215px;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
      background: url(../images/bg_tabs_05.png) no-repeat center center;
      color: #fff;
      background-size: contain;
    }
  }

  .tabs_tour_02 {
    background: url(../images/bg_tabs_02.png) no-repeat center center;
  }

  .tabs_tour_01 {
    background: url(../images/bg_tabs_01.png) no-repeat center center;
  }

  .tabs_tour_03 {
    background: url(../images/bg_tabs_03.png) no-repeat center center;
  }

  .active {
    background: url(../images/bg_tabs_05.png) no-repeat center center;
    color: #fff;
  }

  .tabs_tour_04 {
    background: url(../images/bg_tabs_04.png) no-repeat center center;
    color: #fff;
  }
}

.content_tabs_infor1,
.content_tabs_infor2 {
  .item {
    padding-bottom: 30px;
  }

  .list_etape {
    padding: 7px 0;
    text-align: center;
    background: #7aa573;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    width: 125px;
    float: left;
  }

  .content_etape {
    float: right;
    width: 80%;
  }

  .label_etape {
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 10px;
  }

  .icon_etape {
    display: inline-block;
    float: right;
    cursor: pointer;

    .fa {
      width: 28px;
      text-align: center;
      padding: 5px 0;
      color: #fff;
      background: #7aa573;
    }
  }

  .detail {
    clear: both;

    .content_tour_jour {
      padding-left: 20%;
      margin-bottom: 20px;
    }

    p {
      margin: 0;
    }

    .content_hotel_jour {
      background: url(../images/bg_hotel.png) no-repeat left center;
      padding-left: 20%;
      min-height: 100px;
    }
  }

  .title_hotel {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    display: inline-block;
  }

  .inforHotel {
    .img_hotel {
      width: 40%;
      padding-right: 30px;
    }

    .desc {
      width: 60%;
    }
  }

  .fa.fa-star, .fa-star-half-o {
    color: #ffd800;
  }
}

.content_tabs_infor1 {
  .short_description {
    border-bottom: 2px dashed #ddd;
    padding-bottom: 20px;

    .content_description {
      width: 50%;
      border-right: 2px dashed #ddd;
      padding-right: 20px;

      li {
        background: url(../images/dots2.png) no-repeat left 18px;
        background-size: 10px;
        padding: 10px 0 10px 20px;
      }
    }

    .carte {
      width: 50%;
      padding: 0 20px;
      text-align: center;
      img {
        max-width: 250px;
      }
    }
  }

  .star_tour {
    font-size: 16px;
    color: #f25334;
    text-transform: uppercase;
  }

  .etape_tour {
    .star_tour {
      font-weight: bold;
    }

    .detail {
      p {
        margin: 15px 0;
      }

      li {
        background: url(../images/dots2.png) no-repeat left 10px;
        line-height: 1.4;
        padding-left: 20px;
        background-size: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  .img_tour_content {
    padding-top: 20px;
    flex-wrap: wrap;
    display: flex;
    clear: both;
    margin: 0 -10px;
    .img_vietnam_secret_item {
      width: 50%;
      padding: 10px;
    }
  }
}

.content_tabs_infor3 {
  table {
    width: 100%;
    border:1px solid #ddd;
    th {
      text-align: center;
      font-weight: 700;
      background: #dde8fa;
      padding: 5px 2px;
    }
    tr{
      td{
        padding: 8px 10px;
        border:1px solid #ddd;
      }
    }
  }
  h2,h3{
    margin: 15px 0;
  }
  li{
    list-style: inherit;
  }
}

.content_tabs_infor4 {
  h3{
    color: #bb9d55;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
  }
}

.related_post.archive_tour{
  border-top: 2px dashed #ddd;
  h3.title{
    padding: 20px 0;
    font-size: 16px;
    color: #f25334;
    text-transform: uppercase;
  }
  h3{
    text-align: left;
  }
}
.footerForm.tourForm.form{
  margin-bottom: 40px;
  span:first-child{
    text-align: right;
  }
  p{
    color: #333;
    font-size: 16px;
    select,
    input{
      border: 1px solid #ddd;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
    }
    textarea{
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    .wpcf7-form-control-wrap.budget,
    .wpcf7-form-control-wrap.adultes,
    .wpcf7-form-control-wrap.date{
      margin: 0;
    }
  }
  p:nth-child(7) span:first-child,
  p:nth-child(8) span:first-child,
  p:nth-child(9) span:first-child{
    padding-right: 10px;
  }
}

.single-tours{
  .titlePage{
    bottom: 50%;
    transform: translateY(50%);
    .info{
      font-size: 16px;
      color: #fff;
      span{
        padding: 0 10px;
      }
    }
  }
}
.breadcrumbs{
  padding: 15px 0;
  background: #f5f5f5;
  z-index: 1;
  position: relative;
  p{
    margin: 0;
  }
}
.blogTemplate #content{
  h1{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .mainSidebar{
    width: 30%;
    padding: 15px;
    margin-top: 20px;
    .widget{
      margin-bottom: 30px;
      background: #efefef;
      h2{
        text-align: center;
        background: #689c72;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        padding: 10px;
      }
      .menu{
        padding: 10px;
      }
      ul{
        li{
          padding: 8px 0;
          position: relative;
          a{
            display: block;
            color: #000;
            font-weight: bold;
          }
        }
        ul{
          padding: 0;
        }
      }
      .sub-menu{
        li{
          padding-left: 20px;
          &:before{
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f138";
            position: absolute;
            top: 14px;
            font-size: 14px;
            left: 0;
            color: #689c72;
          }
          a{
            color: #545454;
            font-weight: 400;
          }
        }
      }
    }
    .widget_search{
      label span{
        display: none;
      }
      form{
        position: relative;
        input{
          height: 40px;
          background: #ddd;
          color: #000;
          width: 100%;
          border: none;
          outline: none;
          padding: 10px;
          font-size: 16px;
        }
        button{
          position: absolute;
          top:50%;
          transform: translateY(-50%);
          right: 8px;
          font-size: 20px;
          color: #999;

        }
      }
    }
  }
  .mainContent{
    width: 70%;
    padding: 15px;
    p{
      text-align: justify;
    }
    .text-center{
      text-align: center;
    }
    table{
      border: 1px solid #ddd;
      border-collapse: collapse;
      p{
        text-align: left;
        margin: 0;
      }
      tr{
        border: 1px solid #ddd;
      }
      td{
        border-left: 1px solid #ddd;
        padding: 5px;
      }
    }
  }
  .listPost{
    margin: 0;
    margin-top: 20px;
  }
  .listPost .item{
    width: 100%;
    padding: 15px 0;
    .img_post{
      width: 40%;
      padding-right: 20px;
      font-size: 0;
    }
    .content_post{
      width: 60%;
      padding: 10px 10px 10px 0;
    }
    h4{
      margin-bottom: 5px;
      font-size: 18px;
    }
    .date_time{
      font-size: 13px;
      color: #848484;
    }
    .see_more{
      display: inline-block;
      background-color: #689c72;
      color: #fff;
      padding: 4px 10px 4px 10px;
      border-radius: 3px;
      text-decoration: none;
      &:hover{
        background-color: #bb9d55;
      }
      img{
        width: auto;
      }
    }
  }
  .listPost.galleries{
    margin: 0 -5px;
    .item{
      width: 33.33%;
      padding: 5px;
    }
  }
  .contentItem{
    border: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
  }
}
.category,
.single-post{
  .mainContent{
    a:visited,
    a{
      color: #004F8B;
      &:hover{
        color: #bb9d55;
      }
    }
    h2{
      font-size: 20px;
    }
    h3{
      font-size: 18px;
    }
  }
}
.textRight{
  text-align: right;
}
.titleCategories{
  text-transform:uppercase;
  margin-bottom:30px;
}
.listVideo{
  padding: 40px 0;
  background-image: url(https://asia-soleil-travel.com/wp-content/uploads/2017/05/bg_img.jpg);
  h3{
    font-size: 20px;
    text-transform: uppercase;
  }
  a{
    font-size: 0;
    display: block;
    position: relative;
  }
  h4{
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    a{
      font-size: 14px;
    }
  }
  .item{
    padding: 15px;
  }
  .bgPlay{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    img{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
  }
  .see_more{
    font-size: 16px;
    padding: 5px 20px;
    background: #bb9d55;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
    &:hover{
      background: #689c72;
    }
  }
}
.listLink{
  padding-top: 40px;
  img{
    border-radius: 100%;
  }
  .topLink{
    text-align: center;
    margin-bottom: 40px;
  }
  h4{
    text-transform: uppercase;
    font-size: 16px;
  }
  .linkMain{
    flex-wrap: wrap;
    align-items: stretch;
    .item{
      width: 50%;
      padding-top: 5px;
      padding-bottom: 5px;
      .content{
        height: 100%;
        background: #d5e3d8;
        border-radius: 10px;
        padding: 20px;
        img{
          max-width: 130px;
        }
      }
    }
    .item:nth-child(even){
      border-left: 2px solid #d5e3d8;
      padding-left: 20px;
      .content{
        justify-content: end;
        h4{
          margin-left: 20px;
          text-align: left;
        }
      }
    }
    .item:nth-child(odd){
      position: relative;
      border-right: 2px solid #d5e3d8;
      padding-right: 20px;
      &:before{
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: #689c72;
        right: -9px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
        position: absolute;
      }
      .content{
        justify-content: flex-end;
        h4{
          order: 1;
          margin-right: 20px;
          text-align: right;
        }
        > a{
          order: 2;
        }
      }
    }
  }
}

.aboutUsContent{
  .leftContent{
    width: 30%;
    text-align: center;
    img{
      border-radius: 100%;
      text-align: center;
    }
  }
  .rightContent{
    width: 70%;
    padding-left: 30px;
  }
}

.itemBG:nth-child(odd){
  .leftContent{
    order: 2;
  }
  .rightContent{
    order: 1;
    padding-right: 30px;
    padding-left: 0;
  }
}
.itemBG{
  background: linear-gradient(to top,#E8E8E8 0%,#FFFFFF 100%);
  padding: 50px 0;
  h2{
    color: #ff9900;
    font-size: 16px;
  }
}

.page-id-13280{
  h3{
    text-align: center;
  }
  .wp-block-separator{
    height: 40px;
    border: none;
  }
  .wp-block-columns{
    max-width: 1010px;
    margin: 0 auto;
    padding: 20px 15px 40px;
    img{
      border-radius: 100%;
    }
  }
  .list_gallery{
    margin: 40px 0;
    a{
      max-width: 10%;
      padding: 2px;
      display: inline-block;
    }
    a:first-child{
      max-width: 750px;
      margin: 0 auto;
      text-align: center;
      display: block;
    }
  }
}
.page-id-13285{
  .wp-block-columns{
    max-width: 1010px;
    margin: 0 auto;
    padding: 40px 15px 40px;
    .wp-block-column:first-child{
      img{
        max-width: 150px;
      }
    }
  }
  .location{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 15px 40px;
    .item{
      width: 25%;
      padding: 0 10px;
    }
  }
}

.page-id-13288{
  p{
    text-align: justify;
  }
  img{
    border-radius: 100%;
  }
  .gallery-thumb{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    a{
      width: 20%;
      padding: 2px;
    }
  }
  .bottom{
    background: url(https://asia-soleil-travel.com/wp-content/uploads/2017/05/bg_img.jpg) no-repeat top left;
    background-size: cover;
    text-align: center;
    padding: 40px 0;
    p{
      text-align: center;
    }
  }
}

.page-id-13291{
  .blockSection{
    background: url(https://asia-soleil-travel.com/wp-content/uploads/2017/05/bg_img.jpg) no-repeat top left;
    background-size: cover;
    margin: 40px 0;
  }
  .wp-block-gallery{
    max-width: 1010px;
    margin: 0 auto;
    .blocks-gallery-item{
      text-align: center;
      display: inline-block;
      width: auto;
      margin: 0;
      img{
        flex: inherit;
        width: auto;
        height: auto;
      }
    }
  }
}
.page-id-13294{
  .itemBG{
    img{
      border-radius: 100%;
      width: 200px;
    }
    .img{
      width: 30%;
      padding-left: 0;
      padding-right: 30px;
    }
    .desc{
      width: 70%;
      text-align: justify;
    }
  }
  .itemBG:nth-child(odd){
    .img{
      order: 2;
      text-align: right;
      padding-left: 30px;
      padding-right: 0;
    }
  }
}

.page-template-template-archives-temoignages{
  .img_post{
    img{
      border-radius: 100%;
    }
  }
  .item{
    .date{
      font-style: italic;
      font-size: 13px;
      margin-bottom: 0;
    }
    .country{
      background: url(../images/location.png) no-repeat left;
      padding-left: 40px;
      line-height: 40px;
      display: inline-block;
    }
  }
}
.wrap_temoignages{
  padding: 40px 0;
  .img_temoignages{
    width: 30%;
    padding-right: 30px;
  }
  .content_temoignages{
    width: 70%;
  }
}
.wz_danhgia{
  color: #ffd800;
}
.single-hotels{
  .fa-circle{
    color: #a7cca0;
  }
  table,
  td{
    border: 1px solid #dddddd;
  }
  td{
    padding: 5px;
  }
}
.slide_img_hotels{
  margin-top: 30px;
}
.slider-nav{
  .item{
    padding: 0 10px;
    max-height: 100px;
    overflow: hidden;
  }
}
.tabs_hotel{
  text-align: center;
  margin: 30px 0;
  a:visited,
  a{
    display: inline-block;
    min-width: 200px;
    background: #a7cca0;
    color: #fff;
    padding: 8px 20px;
    border-radius: 10px;
    &:hover{
      background: #ff9900;
      color: #fff;
    }
  }
}
.contactForm{
  p{
    span:first-child{
      width: 30%;
    }

    span:nth-child(2){
      width: 70%;
      span{
        width: 40%;
      }
      span:nth-child(2){
        width: 30%;
        padding-left: 20px;
      }
      span.wpcf7-not-valid-tip{
        width: 100%;
        padding-left: 0;
      }
    }
  }
  .btnSubmit{
    text-align: center;
    .ajax-loader{
      display: none;
    }
    input,button{
      border-radius: 4px;
      width: auto;
      height: 38px;
      font-size: 16px;
      line-height: 30px;
      font-weight: bold;
      color: #fff;
      padding: 0 20px;
      margin: 10px;
      background: #bb9d55;
      cursor: pointer;
      &:hover{
        background: #7aa573;
      }
    }
  }
}
.wpcf7-response-output{
  text-align: center;
}
.rendezForm{
  max-width: 600px;
  p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    span:first-child{
      display: block;
      width: 100%;
    }
    .wpcf7-form-control-wrap{
      margin-right: 10px;
    }
    span:nth-child(3){
      margin-right: 10px;
    }
  }
  .btnSubmit{
    text-align: center;
    .ajax-loader{
      display: none;
    }
    input,button{
      border-radius: 4px;
      width: auto;
      height: 38px;
      font-size: 16px;
      line-height: 30px;
      font-weight: bold;
      color: #fff;
      padding: 0 20px;
      margin: 10px;
      background: #bb9d55;
      cursor: pointer;
      &:hover{
        background: #7aa573;
      }
    }
  }
}
.area_support .btn_contact_home,.area_support .btn_contact_ {
  background: #bb9d55;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  width: 200px;
  text-align: center;
  padding: 20px 0;
  color: #fff;
  display: inline-block;
  position: fixed;
  top: 45%;
  right: -70px;
  transform: rotateZ(270deg);
  z-index: 9999;
}
.area_support .btn_contact_home:hover,.area_support  .btn_contact_:hover {
  color: #fff;
  background: #7aa573; }
.area_support .btn_contact_home{
  position: absolute;
  top: 45%;
  right: 109px;
  transition: 0.2s all;
}
.area_support{
  position: fixed;
  top: 45%;
  transform: translateY(-45%);
  right: -180px;
  z-index: 999;
  width: auto;
  height: auto;
  display: inline-block;
}
.area_support:hover .btn_contact_home{
  right: -30px;
}
.area_support:hover .wz_support{
  right:180px;
}

.wz_support{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: 0.4s all;
  position: relative;
  right: -100%;
  width: 240px;
  z-index: 99999999;
  background: #bb9d55;
}
.wz_support a{
  border-bottom-left-radius: 4px;
  background: #f15f29;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}
.wz_support .content_suport span{
  position: absolute;
  top: 0;
  left: 3px;
  color: #444;
  font-size: 20px;
  cursor: pointer;
}
.wz_support .content_suport h3{
  font-size: 16px;
  line-height: 1;
}
.wz_support .content_suport img{
  display: inline-block;
  margin: 10px 0;
  border-radius:100%;
}
.wz_support .content_suport p{
  line-height: 1.2;
  margin: 0;
  font-weight: 600;
}
.wz_support .content_suport{
  position: relative;
  padding: 10px 36px;
  text-align: center;
}
.contact_mobile {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #75946f;
  z-index: 999;
  padding: 7px;
  font-size: 14px;
  a:visited,
  a{
    width: 50%;
    text-align: center;
    color: #fff;
    padding: 2px 0;
    border-left: 1px solid #fff;
  }
  a:first-child{
    border: none;
  }
}

.wrapPage2{
  background: url(//asia-soleil-travel.com/wp-content/themes/enfold-child/dist/images/img3.png) no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
}
.wrapPage1{
  background: url(//asia-soleil-travel.com/wp-content/themes/enfold-child/dist/images/img1.png) no-repeat;
  background-position: top left;
}
.infor_temoignages_country{
  background: url(../images/location.png) no-repeat left;
  padding-left: 20px;
  margin-left: 13px;
  background-size: 18px;;
}
.slider-nav{
  margin-top: 10px;
  .slick-track{
    margin: 0 -10px;
  }
}

.comments-area{
  label{
    font-weight: bold;
  }
  textarea,input{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  input{
    margin-bottom: 13px;
  }
  input[name="url"],label[for="url"]{
    display: none;
  }
  #wp-comment-cookies-consent{
    width: auto;
  }
  .form-submit{
    text-align: center !important;
    input{
      width: auto;
      padding: 5px 10px;
      color: #fff;
      background: #7aa573;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
      &:hover{
        background: #bb9d55;
      }
    }
  }
}
#comments{
  margin-top: 30px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  .comments-title{
    margin-bottom: 20px;
  }
  .comment-list{
    li{
      list-style: none;
      border-bottom: 1px solid #ddd;
    }
    .comment-meta{
      background: #fff !important;
      display: flex;
      padding: 10px 0;
      img{
        border-radius: 100%;
        margin-right: 10px;
      }
    }
    .comment-content{
      padding-left: 60px;
      p{
        margin-top: 0;
      }
    }
  }
}

.hotlineHeader{
  margin-left: 70px;
}

.related_post.blockSection{
  background: transparent;
  .wrap_slideBlog{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    .item{
      width: 50%;
      .img{
        font-size: 0;
        img.wp-post-image{
          width: 100%;
        }
      }
    }
  }
}
.navContentPage{
  background: #fdf9f6;
  padding: 10px 20px;
  margin-bottom: 10px;
  .navtitle{
    font-weight:bold;
    .fa{
      color: #689c72;
    }
  }
  .navtitle.show{
    .fa{
      transform: rotate(-180deg);
    }
  }
  .contentNav{
    padding:10px 20px;
    display: none;
  }
  li{
    font-weight: bold;
    ul{
      padding-left: 15px;
    }
  }
}