@media (max-width: 1200px) {
  .header .listFavourite{
    right: 5px;
    background-size: 40px;
    max-width: 90px;
    padding-top: 40px;
    top: 10px;
    line-height: 1;
    a{
      font-size: 13px;
    }
    span{
    }
  }
  .header .logo{
    left: 5px;
    max-width: 80px;
    top:10px;
  }
  #mainMenu {
    padding: 0 90px;
  }
  footer .sectionFooter1 .leftColumn {
    background-position: 200px 139px;
  }
}

@media (max-width: 990px) {
  #mainMenu ul li > a {
    line-height: 85px;
    font-size: 13px;
  }
  .header .listFavourite,
  .header .logo{
    top:5px;
  }
  .header{
    font-size: 14px;
  }
  footer .sectionFooter1 .leftColumn {
    background-position: 130px 139px;
    padding-right: 30px;
  }
  footer .country_vietnam{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer .country_vietnam .item_location{
    width: 33.33%;
    padding: 15px 5px;
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .content_contact{
    display: none;
  }
  .content_tour .listPost .excerpt_tour_pc{
    display: none;
  }
  .content_tour .listPost .excerpt_tour{
    display: block;
  }
  .titlePageCategory{
    background: none;
    margin-top: 20px;
    padding: 0;
    text-align: left;
  }
  .listPost .item{
    width: 50%;
  }
  .list_category{
    flex-wrap: wrap;
  }
  .list_category .item{
    width: 50%;
  }
  .hotelForm div p{
    width: 50%;
  }
  .hotelForm p{
    flex-wrap: wrap;
  }
  .hotelForm p .wpcf7-form-control-wrap,
  .hotelForm p > span:first-child{
    width: 100%;
    margin: 0;
  }
  .titlePage h1 {
    font-size: 20px;
  }
  .titlePage{
    padding: 5px 0;
  }
  #mainMenu{
    display: none;
  }
  .header .logo {
    max-width: 65px;
  }
  .menuMobile{
    display: inline-block;
    float: right;
    button{
      background: transparent;
      padding: 0;
      height: 70px;
      margin: 0;
    }
    .fa{
      border: 2px solid #fff;
      color: #fff;
      display: inline-block;
      border-radius: 100%;
      font-size: 22px;
      width: 36px;
      height: 36px;
      position: relative;
      &:before{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .topUL{
      right: 0;
    }
  }
  .header .listFavourite{
    display: none;
  }
  html{
    .separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation, .one-container .site-content, .inside-page-header{
      padding: 30px 5px;
    }
  }
  .headerHome .rightHeader{
    span:nth-child(2),
    span:first-child{
      display: none;
    }
  }
  .headerHome .leftHeader span:nth-child(2){
    display: none;
  }
  .headerHome .leftHeader .paysOther{
    margin-right: 10px;
  }
  .country_flats{
    padding-left: 10px;
    border-left: 1px solid #e5e5e5;
  }
  footer .sectionFooter1 .displayFlex{
    flex-wrap: wrap;
  }
  footer .sectionFooter1 .leftColumn{
    width: 100%;
    padding: 0;
  }
  footer .sectionFooter1 .leftColumn aside:last-child {
    margin-top: 25px;
  }
  footer .sectionFooter1 .rightColumn{
    width: 100%;
  }
}

@media (max-width: 450px) {
  .listPost .item,
  .list_category .item{
    width: 100%;
  }
  .footerForm p {
    flex-wrap: wrap;
  }
  .footerForm span{
    width: 100%;
  }
  html .footerForm p span:nth-child(2) {
    padding-left: 0;
  }
  html .footerForm p span:first-child {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 0;
  }
  .footerForm span{
    padding-left: 5px;
    margin-left: 0 !important;
  }
  .footerForm p:first-child span{
    width: 33%;
  }
  .footerForm p:nth-child(8) span:first-child,
  .footerForm p:nth-child(9) span:first-child,
  .footerForm p:nth-child(7) span:first-child{
    width: 100%;
  }
  .footerForm p:nth-child(8) span,
  .footerForm p:nth-child(7) span {
    width: 25%;
  }
  .footerForm p:nth-child(9) span{
    width: 30%;
  }
  .footerForm p:nth-child(9) span:last-child {
    width: 70%;
  }
  footer .sectionFooter1 .rightColumn aside:last-child{
    text-align: left;
  }
  footer .tabs_country{
    flex-wrap: wrap;
  }
  footer .tabs_country .item_country.active:before{
    display: none;
  }
  footer .tabs_country .item_country{
    width: 100%;
  }
  footer .country_vietnam .item_location{
    width: 100%;
  }
}