@media (max-width: 1200px) {
  .content_tabs_infor3 ul{
    padding-left: 40px;
  }
  .homeSlider .item .slogan .text p{
    font-size: 2.3vw;
  }
  .homeSlider .item .slogan .text p:last-child{
    font-size: 2vw;
  }
  .homeSlider .logo img{
    width: 12vw;
  }
  .search .search_function_main {
    padding: 15px 5px;
  }
  .homeSlider .item .inforTour p:first-child{ font-size: 2.5vw;}
  .homeSlider .item .inforTour p:nth-child(2){font-size: 2vw;}
  .videoSection{
    padding: 40px 0;
  }
  .single-tours .titlePage {
    bottom: 0;
    transform: inherit;
  }
  .header .listFavourite{
    right: 5px;
    background-size: 40px;
    max-width: 90px;
    padding-top: 40px;
    top: 10px;
    line-height: 1;
    a{
      font-size: 13px;
    }
    span{
    }
  }
  .header .logo{
    left: 5px;
    max-width: 80px;
    top:10px;
  }
  .mainMenu {
    padding: 0 90px;
  }
  footer .sectionFooter1 .leftColumn {
    background-position: 200px 139px;
  }
}

@media (max-width: 990px) {
  *{ line-height: 1.3;}
  .homeSlider .item .inforTour{ right: 30px; bottom: 30px;}
  .homeSlider .item .inforTour p a{ border: solid 1px #fff; background-color: rgba(0,0,0,0.3);
    padding: 5px 15px;}
  .mainMenu ul li > a {
    line-height: 85px;
    font-size: 13px;
  }
  .header .listFavourite,
  .header .logo{
    top:5px;
  }
  .header{
    font-size: 14px;
  }
  footer .sectionFooter1 .leftColumn {
    background-position: 130px 139px;
    padding-right: 30px;
  }
  footer .country_vietnam{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer .country_vietnam .item_location{
    width: 33.33%;
    padding: 15px 5px;
    justify-content: flex-start;
  }
  .videoSection .contentSection {
    flex-wrap: wrap;
  }
  .videoSection .leftContent, .videoSection .rightContent {
    width: 100%;
  }
  .videoSection .rightContent{order:1;}
  .videoSection .leftContent{order:2;}
  .sliderItem .prevIcon{
    left: -10px;
  }
  .sliderItem .nextIcon{
    right: -10px;
  }
  .listTourStyle1 .item_tour{
    width: 50%;
  }
  .tours_lastnew{
    flex-wrap: wrap;
    justify-content: center;
  }
  .tabs_infor_tour .tab_tour {
    width: 25%;
    background-size: contain;
  }
  .tabs_infor_tour{
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .contentPage {
    margin-top: 30px;}
  .single-tours .titlePage{
    display: none;
  }
  .tabs_infor_tour .tab_tour{
    width: 50%;
  }
  .sliderItem .prevIcon {
    left: 15px;
    z-index: 9;
  }
  .countSection .item .counter {
    font-size: 30px;
  }
  .wrap_temoignages,
  .reviewsSection{
    padding: 20px 0;
  }
  .sliderItem .nextIcon{
    right: 15px;
    z-index: 9;
  }
  .reviewsSection .grid-container{
    padding: 0;
  }
  .blockSection .wrap_slideBlog .item .desc{
    margin-top: 5px;
  }
  .countSection .contentSection .item{
    max-width: 100%;
    width: 100%;
  }
  .slide_vnsceret .displayFlex,
  .countSection .contentSection{
    flex-wrap: wrap;
  }
  .homeSlider .item .slogan{top:50px; left: 20px;}
  .homeSlider .item .inforTour{ display: none}
  .mainMenuHome,
  .content_contact{
    display: none;
  }
  .slide_vnsceret .img,
  .slide_vnsceret .content_infor,
  .aboutUs .contentPage{
    max-width: 100%;
    width: 100%;
  }
  .listTourHome.listTourStyle1 h2 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .home .titleSection {
    padding: 20px 5px;
  }
  .home h2{
    font-size: 18px;
  }
  .listTourHome.listTourStyle1{
    padding: 20px 0;
  }
  #searchform .contentForm button,
  #searchform .contentForm input,
  #searchform .contentForm select{
    width: 100%;
    margin-bottom: 5px;
  }
  #searchform .contentForm{
    flex-wrap: wrap;

  }
  .content_tour .listPost .excerpt_tour_pc{
    display: none;
  }
  .content_tour .listPost .excerpt_tour{
    display: block;
  }
  .titlePageCategory{
    background: none;
    margin-top: 20px;
    padding: 0;
    text-align: left;
  }
  .listPost .item{
    width: 50%;
  }
  .list_category{
    flex-wrap: wrap;
  }
  .list_category .item{
    width: 50%;
  }
  .hotelForm div p{
    width: 50%;
  }
  .hotelForm p{
    flex-wrap: wrap;
  }
  .hotelForm p .wpcf7-form-control-wrap,
  .hotelForm p > span:first-child{
    width: 100%;
    margin: 0;
  }
  .titlePage h1 {
    font-size: 20px;
  }
  .titlePage{
    padding: 5px 0;
  }
  .mainMenu{
    display: none;
  }
  .header .logo {
    max-width: 65px;
  }
  .menuMobile{
    display: inline-block;
    float: right;
    button{
      background: transparent;
      padding: 0;
      height: 70px;
      margin: 0;
    }
    .fa{
      border: 2px solid #fff;
      color: #fff;
      display: inline-block;
      border-radius: 100%;
      font-size: 22px;
      width: 36px;
      height: 36px;
      position: relative;
      &:before{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .topUL{
      right: 0;
    }
  }
  .header .listFavourite{
    display: none;
  }
  html{
    .separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation, .one-container .site-content, .inside-page-header{
      padding: 30px 5px;
    }
  }
  .headerHome .rightHeader{
    span:nth-child(2),
    span:first-child{
      display: none;
    }
  }
  .headerHome .leftHeader span:nth-child(2){
    display: none;
  }
  .headerHome .leftHeader .paysOther{
    margin-right: 10px;
  }
  .country_flats{
    padding-left: 10px;
    border-left: 1px solid #e5e5e5;
  }
  footer .sectionFooter1 .displayFlex{
    flex-wrap: wrap;
  }
  footer .sectionFooter1 .leftColumn{
    width: 100%;
    padding: 0;
  }
  footer .sectionFooter1 .leftColumn aside:last-child {
    margin-top: 25px;
  }
  footer .sectionFooter1 .rightColumn{
    width: 100%;
  }
  .titlePageCategory2 h1, .titlePageCategory h1{
    font-size: 22px;
  }
  .titlePageCategory2, .titlePageCategory {
    text-align: center;
    padding: 55px 5px;
    background-position: center;
  }
  .content_tabs_infor1 .icon_etape, .content_tabs_infor2 .icon_etape{
    display: none;
  }
  .content_tabs_infor1 .short_description{
    flex-wrap: wrap;
  }
  .content_tabs_infor1 .short_description .content_description{
    width: 100%;
    padding-right: 0;
    border: none;
  }
  .content_tabs_infor1 .short_description .carte{
    width: 100%;
  }
  .content_tabs_infor1 .img_tour_content .img_vietnam_secret_item{
    width: 100%;
  }
  .slide_vnsceret .content_infor{
    order: 2;
    padding: 0;
  }
  .slide_vnsceret .img{
    order: 1;
  }

}

@media (max-width: 600px) {
  .footerForm.tourForm.form span:first-child{
    text-align: left;
  }
  .content_tabs_infor1 .list_etape, .content_tabs_infor2 .list_etape{
    width: 100%;
    margin-bottom: 10px;
  }
  .blogTemplate #content .listPost .item .content_post,
  .blogTemplate #content .listPost .item .img_post,
  .content_tabs_infor1 .content_etape, .content_tabs_infor2 .content_etape{
    width: 100%;
  }
  .blogTemplate #content .listPost .item .img_post{
    padding: 0;
  }
  .blogTemplate #content .listPost .item .content_post{
    padding: 10px;
  }
  .homeSlider .item .slogan .text, .listGuid{display: none;}
  .listTourStyle1 .item_tour{
    width: 100%;
  }
  .content_tabs_infor1 .detail .content_tour_jour, .content_tabs_infor2 .detail .content_tour_jour,
  .content_tabs_infor1 .detail .content_hotel_jour, .content_tabs_infor2 .detail .content_hotel_jour{
    padding-left: 0;
    background: none;
  }
}

@media (max-width: 450px) {
  .listPost .item,
  .list_category .item{
    width: 100%;
  }
  .footerForm p {
    flex-wrap: wrap;
  }
  .footerForm.form span,
  .footerForm span{
    width: 100%;
  }
  html .footerForm p span:nth-child(2) {
    padding-left: 0;
  }
  .footerForm.form p:first-child span,
  .footerForm.form span:first-child,
  html .footerForm p span:first-child {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 0;
  }
  .footerForm span{
    padding-left: 5px;
    margin-left: 0 !important;
  }
  .footerForm p:first-child span{
    width: 33%;
  }
  .footerForm.form p:nth-child(8) span:first-child,
  .footerForm.form p:nth-child(9) span:first-child,
  .footerForm.form p:nth-child(7) span:first-child{
    width: 100%;
  }
  .footerForm.form p:nth-child(8) span,
  .footerForm.form p:nth-child(7) span {
    width: 25%;
  }
  .footerForm.form p:nth-child(9) span{
    width: 30%;
  }
  .footerForm.form p:nth-child(9) span:last-child {
    width: 70%;
  }
  footer .sectionFooter1 .rightColumn aside:last-child{
    text-align: left;
  }
  footer .tabs_country{
    flex-wrap: wrap;
  }
  footer .tabs_country .item_country.active:before{
    display: none;
  }
  footer .tabs_country .item_country{
    width: 100%;
  }
  footer .country_vietnam .item_location{
    width: 100%;
  }
  footer .sectionFooter1 .rightColumn h3{
    font-size: 14px;
  }
}