@import url(./slick.css);
@import url(./slick-theme.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.2; }

h1, h2, h3, h4 {
  font-weight: bold; }

.admin-bar .header {
  top: 32px; }

.displayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.alignCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.positionR {
  position: relative;
  z-index: 1; }

.positionA {
  position: absolute;
  z-index: 1; }

html ul {
  margin: 0; }
  html ul li {
    list-style: none; }

html .hideContent {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }

html .hoverContent:hover {
  color: #d0d0d0; }
  html .hoverContent:hover .hideContent {
    opacity: 1;
    top: 100%;
    visibility: visible; }

html button,
html a {
  cursor: pointer; }

html body {
  font-size: 16px; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(82, 129, 89, 0.8);
  font-size: 16px;
  color: #fff;
  z-index: 9999; }
  .header button {
    height: 50px;
    background: transparent;
    padding: 0; }
    .header button:hover {
      color: #d0d0d0;
      background-color: transparent; }
    .header button:active {
      background-color: transparent; }
  .header a {
    color: #fff;
    width: 100%; }
    .header a:hover {
      color: #d0d0d0; }
  .header .container.grid-container {
    background: transparent; }
  .header .logo {
    max-width: 100px;
    top: 1px;
    left: 0; }
  .header .topUL {
    top: 100px;
    background: rgba(82, 129, 89, 0.8);
    width: 200px; }
    .header .topUL li {
      border-bottom: 1px solid #fff;
      padding-left: 10px; }
      .header .topUL li a {
        display: block;
        line-height: 35px; }
    .header .topUL .current-menu-item a {
      color: #d0d0d0; }

.listFavourite {
  top: 5px;
  right: 0;
  max-width: 100px;
  background: url(../images/icon_3.png) no-repeat top center;
  padding-top: 45px;
  text-align: center; }
  .listFavourite a {
    color: #bb9d55;
    font-weight: bold; }
    .listFavourite a .number_tour {
      top: 0;
      right: 0;
      display: inline-block;
      background: #bb9d55;
      color: #fff;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      font-size: 14px;
      padding-top: 1px; }

.headerHome .leftHeader {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .headerHome .leftHeader span:nth-child(2) {
    padding-left: 15px;
    margin: 0 15px;
    border-left: 1px solid #acacac; }
  .headerHome .leftHeader .paysOther {
    cursor: pointer;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .headerHome .leftHeader .country_flats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .headerHome .leftHeader .country_flats li {
      margin-right: 10px; }
      .headerHome .leftHeader .country_flats li img {
        max-height: 30px;
        max-width: 26px;
        position: relative;
        top: 3px; }

.headerHome .rightHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .headerHome .rightHeader span {
    margin-left: 15px; }
    .headerHome .rightHeader span:hover {
      color: #d0d0d0; }
  .headerHome .rightHeader .fa {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 22px;
    width: 36px;
    height: 36px;
    position: relative; }
    .headerHome .rightHeader .fa:before {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .headerHome .rightHeader .topUL {
    right: 0; }
    .headerHome .rightHeader .topUL a {
      display: inline-block; }
  .headerHome .rightHeader .btnShowMenu .fa {
    margin: 0; }

.menuMobile {
  display: none; }

#mainMenu {
  width: 100%;
  padding: 0 140px; }
  #mainMenu ul {
    width: 100%;
    display: table; }
    #mainMenu ul li {
      display: table-cell;
      font-size: 14px;
      float: none;
      text-align: center; }
      #mainMenu ul li > a {
        line-height: 100px;
        padding: 0;
        color: #fff;
        display: inline-block;
        font-weight: bold; }
        #mainMenu ul li > a:hover {
          -webkit-box-shadow: inset 0 -4px 0 0 #bb9d55;
          box-shadow: inset 0 -4px 0 0 #bb9d55; }
      #mainMenu ul li .sub_menu {
        width: 100%;
        top: 150%;
        left: 0;
        background: url(../images/menu-hover-vietnam_03.jpg) no-repeat bottom center;
        background-size: 100% 100%; }
        #mainMenu ul li .sub_menu .see_more {
          padding: 10px 20px;
          background: #bb9d55;
          margin-top: 20px;
          font-weight: bold;
          border-radius: 2px; }
        #mainMenu ul li .sub_menu .alignright {
          padding-right: 60px; }
      #mainMenu ul li:hover .sub_menu {
        top: 100%; }
      #mainMenu ul li .content_sub {
        display: table;
        vertical-align: middle;
        padding: 15px 0 30px; }
      #mainMenu ul li .text_sub_menu {
        padding: 0 40px;
        width: 30%;
        display: table-cell;
        vertical-align: middle;
        font-size: 18px;
        color: #fff;
        border-right: 1px solid #518846;
        background: url(../images/bg_menu.png) no-repeat center center; }
      #mainMenu ul li .item_sub-menu {
        border-left: 1px solid #fff;
        padding: 0 60px 0 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 30px; }
      #mainMenu ul li .item {
        width: 33%;
        padding: 10px 0; }
        #mainMenu ul li .item img {
          border-radius: 100%;
          margin-bottom: 5px; }
        #mainMenu ul li .item a {
          text-transform: uppercase;
          font-size: 13px;
          line-height: 1.2;
          font-weight: bold; }
          #mainMenu ul li .item a:hover {
            color: #bb9d55; }
    #mainMenu ul .vietnam_secret .item:first-child {
      border-top: none; }
    #mainMenu ul .vietnam_secret .item {
      width: 100%;
      text-align: left;
      border-top: 1px dashed #fff;
      padding: 20px; }
      #mainMenu ul .vietnam_secret .item img {
        margin-right: 15px; }
    #mainMenu ul .vietnam_secret .item:nth-child(2) {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      #mainMenu ul .vietnam_secret .item:nth-child(2) .img_vietnam {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; }
      #mainMenu ul .vietnam_secret .item:nth-child(2) img {
        margin-right: 0;
        margin-left: 15px; }
    #mainMenu ul .site_a_decouvrir img {
      max-width: 80%; }
    #mainMenu ul .site_a_decouvrir .item_sub-menu .textwidget {
      margin-bottom: 40px;
      text-align: left;
      border-bottom: 1px dashed #fff;
      font-weight: bold; }
      #mainMenu ul .site_a_decouvrir .item_sub-menu .textwidget h3 {
        font-size: 16px;
        font-weight: bold; }
      #mainMenu ul .site_a_decouvrir .item_sub-menu .textwidget p {
        text-transform: uppercase;
        font-size: 13px;
        color: #fff; }
      #mainMenu ul .site_a_decouvrir .item_sub-menu .textwidget a {
        color: #fff; }
        #mainMenu ul .site_a_decouvrir .item_sub-menu .textwidget a:hover {
          color: #bb9d55; }

footer {
  border-top: none;
  padding: 29px 0 30px;
  background-color: #75946f !important;
  background: url(../images/bg_footer.jpg) repeat-x top center; }
  footer .sectionFooter1 .leftColumn {
    background: url(../images/bg_img_footer.png) no-repeat right center;
    padding-right: 74px;
    background-position: 295px 139px;
    width: 47%; }
    footer .sectionFooter1 .leftColumn aside:last-child {
      margin-top: 130px; }
      footer .sectionFooter1 .leftColumn aside:last-child .wz_images_footer {
        margin-top: 22px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        footer .sectionFooter1 .leftColumn aside:last-child .wz_images_footer li {
          margin-right: 33px; }
  footer .sectionFooter1 .widget-title,
  footer .sectionFooter1 .widgettitle {
    margin-top: .7em;
    font-size: 21px;
    line-height: 1.3;
    letter-spacing: .6px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase; }
  footer .sectionFooter1 .list_raisons li {
    color: #fff;
    display: block;
    border-bottom: 1px solid #fff;
    padding: 15px 0; }
    footer .sectionFooter1 .list_raisons li a {
      color: #bb9d55; }
  footer .sectionFooter1 .rightColumn {
    width: 53%; }
    footer .sectionFooter1 .rightColumn h3 {
      font-size: 16px;
      font-weight: bold;
      color: #fff; }
    footer .sectionFooter1 .rightColumn .widgettitle {
      font-size: 21px; }
    footer .sectionFooter1 .rightColumn aside:last-child {
      margin-top: 20px;
      text-align: right; }
      footer .sectionFooter1 .rightColumn aside:last-child .wz_images_footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
        footer .sectionFooter1 .rightColumn aside:last-child .wz_images_footer img {
          margin-left: 10px; }
  footer .tabs_country {
    padding-top: 40px; }
    footer .tabs_country .item_country {
      background: #bb9d55;
      width: 33.33%;
      margin: 0;
      text-align: center;
      line-height: 40px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      border-left: 1px solid #7aa573; }
      footer .tabs_country .item_country.active {
        background: #7aa573; }
        footer .tabs_country .item_country.active:before {
          content: '';
          z-index: -1;
          position: absolute;
          top: -10px;
          left: 49%;
          -webkit-transform: rotateZ(45deg);
          -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
          display: inline-block;
          width: 30px;
          height: 30px;
          background: #7aa573; }
  footer .country_vietnam {
    color: #fff; }
    footer .country_vietnam .item_location {
      width: 20%;
      padding: 0 5px; }
    footer .country_vietnam h3 {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-size: 16px; }
    footer .country_vietnam li {
      margin-bottom: 15px;
      line-height: 1.3; }
      footer .country_vietnam li .fa {
        margin-right: 5px; }
      footer .country_vietnam li a {
        color: #fff; }
  footer .area_footer_country {
    padding-top: 26px;
    background: #75946f; }
  footer #menu-menu-socket {
    text-align: center;
    padding-top: 20px; }
    footer #menu-menu-socket li {
      display: inline-block;
      padding: 0 10px;
      border-left: 1px solid #fff; }
      footer #menu-menu-socket li a {
        color: #fff; }
        footer #menu-menu-socket li a:hover {
          color: #bb9d55; }
    footer #menu-menu-socket li:first-child {
      border: none; }
  footer .kkstart {
    margin-top: 10px;
    text-align: center; }
    footer .kkstart span {
      display: inline-block;
      background-image: url(../images/img_star_rating_new.png);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px; }

.footerForm p {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 14px; }
  .footerForm p select,
  .footerForm p textarea,
  .footerForm p input {
    height: 30px;
    line-height: 30px;
    padding: 2px 10px;
    border: none;
    border-radius: 2px;
    width: 100%; }

.footerForm p:first-child span {
  width: 25%; }

.footerForm span {
  width: 78%;
  margin-left: 10px; }
  .footerForm span input {
    width: 100%; }

.footerForm span:first-child {
  width: 25%;
  font-weight: bold;
  display: inline-block;
  margin-left: 0; }

.footerForm p:nth-child(7) span:first-child {
  width: 25%; }

.footerForm p:nth-child(7) span {
  width: 18%; }

.footerForm p:nth-child(8) span:first-child {
  width: 25%; }

.footerForm p:nth-child(8) span {
  width: 18%; }

.footerForm p:nth-child(9) span:first-child {
  width: 25%; }

.footerForm p:nth-child(9) span {
  width: 18%; }

.footerForm p:nth-child(9) span:last-child {
  width: 57%; }

.footerForm p:nth-child(11) span {
  width: 100%; }
  .footerForm p:nth-child(11) span textarea {
    resize: none;
    height: 100px; }

.footerForm .btnSubmit {
  display: block;
  text-align: center; }
  .footerForm .btnSubmit input {
    background: #7aa573;
    border-radius: 4px;
    width: auto;
    height: 38px;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold; }

.homeSlider {
  overflow: hidden; }
  .homeSlider .item img {
    width: 100%; }
  .homeSlider .item .slogan {
    top: 90px;
    left: 50px;
    color: #fff; }
    .homeSlider .item .slogan .text {
      text-align: center;
      width: 750px; }
      .homeSlider .item .slogan .text p {
        font-family: Constantia;
        text-shadow: black 1px 2px 2px;
        font-size: 30px;
        -webkit-filter: none;
        filter: none;
        white-space: nowrap;
        margin: 0; }
      .homeSlider .item .slogan .text p:last-child {
        font-family: "Monotype Corsiva";
        text-shadow: black 1px 2px 2px;
        font-size: 26px; }
  .homeSlider .item .inforTour {
    color: #fff;
    right: 50px;
    bottom: 50px;
    text-align: center; }
    .homeSlider .item .inforTour p {
      margin: 10px; }
      .homeSlider .item .inforTour p a {
        border: 2px solid #fff;
        display: inline-block;
        color: #fff;
        padding: 10px 20px;
        font-size: 20px; }
    .homeSlider .item .inforTour p:first-child {
      border-bottom: 1px solid white;
      padding: 0 0 5px;
      font-size: 34px; }
    .homeSlider .item .inforTour p:nth-child(2) {
      font-size: 30px; }

.mainMenuHome #mainMenu {
  padding: 0 40px; }
  .mainMenuHome #mainMenu a {
    color: #bb9d55; }
  .mainMenuHome #mainMenu .sub_menu a {
    color: #fff; }

.mainMenuHome img:nth-child(3) {
  margin-right: 20px; }

.mainMenuHome .listFavourite {
  position: relative;
  text-transform: inherit;
  width: 100%; }

.search {
  margin-top: 20px; }
  .search .search_function_main {
    padding: 15px 25px;
    background: #7aa573;
    -webkit-box-shadow: 0 2px 0 0 #f2f2f2;
    box-shadow: 0 2px 0 0 #f2f2f2; }
  .search .contentForm select,
  .search .contentForm button,
  .search .contentForm input {
    width: 25%;
    border: none;
    height: 40px;
    line-height: 40px;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 0 5px; }
  .search .contentForm button {
    background: #bb9d55; }
    .search .contentForm button:hover {
      background: #e2ba5b; }

@media (max-width: 1200px) {
  .header .listFavourite {
    right: 5px;
    background-size: 40px;
    max-width: 90px;
    padding-top: 40px;
    top: 10px;
    line-height: 1; }
    .header .listFavourite a {
      font-size: 13px; }
  .header .logo {
    left: 5px;
    max-width: 80px;
    top: 10px; }
  #mainMenu {
    padding: 0 90px; }
  footer .sectionFooter1 .leftColumn {
    background-position: 200px 139px; } }

@media (max-width: 990px) {
  #mainMenu ul li > a {
    line-height: 85px;
    font-size: 13px; }
  .header .listFavourite,
  .header .logo {
    top: 5px; }
  .header {
    font-size: 14px; }
  footer .sectionFooter1 .leftColumn {
    background-position: 130px 139px;
    padding-right: 30px; }
  footer .country_vietnam {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  footer .country_vietnam .item_location {
    width: 33.33%;
    padding: 15px 5px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; } }

@media (max-width: 767px) {
  #mainMenu {
    display: none; }
  .header .logo {
    max-width: 65px; }
  .menuMobile {
    display: inline-block;
    float: right; }
    .menuMobile button {
      background: transparent;
      padding: 0;
      height: 70px;
      margin: 0; }
    .menuMobile .fa {
      border: 2px solid #fff;
      color: #fff;
      display: inline-block;
      border-radius: 100%;
      font-size: 22px;
      width: 36px;
      height: 36px;
      position: relative; }
      .menuMobile .fa:before {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .menuMobile .topUL {
      right: 0; }
  .header .listFavourite {
    display: none; }
  html .separate-containers .inside-article, html .separate-containers .comments-area, html .separate-containers .page-header, html .separate-containers .paging-navigation, html .one-container .site-content, html .inside-page-header {
    padding: 30px 5px; }
  .headerHome .rightHeader span:nth-child(2),
  .headerHome .rightHeader span:first-child {
    display: none; }
  .headerHome .leftHeader span:nth-child(2) {
    display: none; }
  .headerHome .leftHeader .paysOther {
    margin-right: 10px; }
  .country_flats {
    padding-left: 10px;
    border-left: 1px solid #e5e5e5; }
  footer .sectionFooter1 .displayFlex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  footer .sectionFooter1 .leftColumn {
    width: 100%;
    padding: 0; }
  footer .sectionFooter1 .leftColumn aside:last-child {
    margin-top: 25px; }
  footer .sectionFooter1 .rightColumn {
    width: 100%; } }

@media (max-width: 450px) {
  .footerForm p {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .footerForm span {
    width: 100%; }
  html .footerForm p span:nth-child(2) {
    padding-left: 0; }
  html .footerForm p span:first-child {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 0; }
  .footerForm span {
    padding-left: 5px;
    margin-left: 0 !important; }
  .footerForm p:first-child span {
    width: 33%; }
  .footerForm p:nth-child(8) span:first-child,
  .footerForm p:nth-child(9) span:first-child,
  .footerForm p:nth-child(7) span:first-child {
    width: 100%; }
  .footerForm p:nth-child(8) span,
  .footerForm p:nth-child(7) span {
    width: 25%; }
  .footerForm p:nth-child(9) span {
    width: 30%; }
  .footerForm p:nth-child(9) span:last-child {
    width: 70%; }
  footer .sectionFooter1 .rightColumn aside:last-child {
    text-align: left; }
  footer .tabs_country {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  footer .tabs_country .item_country.active:before {
    display: none; }
  footer .tabs_country .item_country {
    width: 100%; }
  footer .country_vietnam .item_location {
    width: 100%; } }
